<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title>RichFaces (F/OSS) Charting Options</title>
    </h:head>
    <h:body>
        <o:form>
            <rich:panel header="RichFaces (F/OSS) Charting Options">
                <h:link outcome="primefaces" value="PrimeFaces Chart Examples"/>
                <br/>
                <h:link outcome="jsflot" value="JSFlot Chart Examples"/>
                <br/>
                <h:link outcome="jfreechart" value="JFreeChart Chart Examples"/>
            </rich:panel>
        </o:form>
    </h:body>
</html>

