<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title>JFreeChart 3D Pie</title>
    </h:head>
    <h:body>
        <o:form>
            <rich:panel header="JFreeChart 3D Pie">
                <a4j:mediaOutput element="img"
                                 expires="#{now}"
                                 cacheable="#{false}"                 
                                 createContent="#{chartBean.generateChartMethod}"
                                 mimeType="image/png" />
            </rich:panel>
        </o:form>
    </h:body>
</html>

