<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:jsflot="http://www.jsflot.org/taglib/jsflot"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title>JSFLot Chart Examples</title>
        <jsflot:resources/>
    </h:head>
    <h:body>
        <o:form>
            <rich:panel header="JSFlot Bar Chart">
                <jsflot:flotChart
                    value="#{chartBean.chartSeries}" 
                    chartType="bar"
                    showDataPoints="true"
                    showLines="true"
                    title="Line Chart"
                    chartZoomable="true"
                    markers="true"
                    spreadsheet="true"
                    width="100%"
                    />
            </rich:panel>
            <rich:panel header="JSFlot Line Chart">
                <jsflot:flotChart 
                    value="#{chartBean.chartSeries}" 
                    chartType="line"
                    showDataPoints="true"
                    showLines="true"
                    title="Line Chart"
                    chartZoomable="true"
                    markers="true"
                    spreadsheet="true"
                    width="100%"
                    />
            </rich:panel>
            <rich:panel header="JSFlot Stacked Bar Chart">
                <jsflot:flotChart
                    value="#{chartBean.chartSeries}" 
                    chartType="stackedBar"
                    showDataPoints="true"
                    showLines="true"
                    title="Line Chart"
                    chartZoomable="true"
                    markers="true"
                    spreadsheet="true"
                    width="100%"
                    />
            </rich:panel>
        </o:form>
    </h:body>
</html>

