<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:rich="http://richfaces.org/rich"
      >
    <h:head id="head1">
        <title>PrimeFaces Chart Examples</title>
    </h:head>
    <h:body id="body1">
        <o:form id="form1">

            <rich:panel id="areaChartPanel" header="PrimeFaces Area Chart">
                <p:lineChart id="stacked" value="#{chartBean.cartesianChartModel}" 
                             legendPosition="nw" stacked="true" fill="true" 
                             xaxisLabel="Year" yaxisLabel="Profits($)"
                             title="Customers Grouped by Total Sales Purchases" 
                             minX="2005"
                             maxX="2013"
                             minY="0"
                             maxY="110000"
                             />
            </rich:panel>

            <rich:panel id="bubbleChartPanel" header="PrimeFaces Bubble Chart">
                <p:bubbleChart id="custom" value="#{chartBean.bubbleChartModel}" 
                               shadow="false"
                               bubbleGradients="true" showLabels="false" bubbleAlpha="100"  
                               title="Part Data" 
                               xaxisAngle="-50" yaxisAngle="50"/>
            </rich:panel>

            <rich:panel id="meterGaugePanel" header="PrimeFaces Meter Gauge Chart">
                <p:meterGaugeChart id="meterGaugeChart" value="#{chartBean.meterGaugeChartModel}" 
                                   showTickLabels="true" labelHeightAdjust="110"  
                                   intervalOuterRadius="130" 
                                   seriesColors="cc6666,E7E658,93b75f,66cc66" title="Sales" label="Total" />  
            </rich:panel>

            <rich:panel id="pieChartPanel" header="PrimeFaces Pie Chart">
                <p:pieChart id="pieChart1" value="#{chartBean.pieChartModel}" showDataLabels="true" />
            </rich:panel>

            <rich:panel id="static3DPieChart" header="PrimeFaces JFreeChart 3D Pie Chart">
                <p:graphicImage value="#{chartBean.streamedContent}" />  
            </rich:panel>
        </o:form>
    </h:body>
</html>

